@model List<TestSystem.Models.User>
@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<div id="Approval" class="container-fluid text-center adminBackground" >
    @using (Html.BeginForm("RequestHandler", "Admin", FormMethod.Post))
    {
    <table class="table table-hover table-bordered tabledesign">
        <thead >
            <tr class="tittle">
                <th colspan="3" style="font-size:20px;">Approval</th>
                <th><button type="submit" class="btn btn-primary" onclick="return confirm('Are You sur?')">Accept</button></th>
             </tr>
            <tr class="headers">
                <th>Name</th>
                <th>Id</th>
                <th>userType</th>
                <th>Select All<input type="checkbox" id ="checkBoxAll" /></th>
             </tr>
        </thead>
        <tbody class="tableBody">
            @foreach (var item in Model) {
            <tr>
                <td>@item.fullname</td>
                <td>@item.userid</td>
                <td>@item.usertype</td>
                <td><label><input type="checkbox" class="chkCheckBoxId" name="userids" value="@item.userid"></label></td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>