@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/adminLayout.cshtml";
 }
<div id="Home" class="container-fluid text-center">
    <div class="jumbotron" >
        <h1><span>Welcome</span> Admin</h1>
    </div>
    <p>By clicking on Examine Button on Examine Section you can view your student assignment and check Plagiarism. For the first time, Report will be generated when you click on Examine Button.<span> Click on View button on Student Examine's Table to show you the detail of Plagiarism </span>. You can click on the user name in navigation bar to see the user List and Approved List or create a new data option.</p>        
</div>
