@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/studentLayout.cshtml";
}

<div id="Home" class="container-fluid text-center">
    @* <div class="jumbotron" >
        <h1><span>Welcome</span> Student</h1>
    </div>
    <p>By clicking on Examine Button on Examine Section you can view your student assignment and check Plagiarism. For the first time, Report will be generated when you click on Examine Button.<span> Click on View button on Student Examine's Table to show you the detail of Plagiarism </span>. You can click on the user name in navigation bar to see the user List and Approved List or create a new data option.</p>        *@

    <div class="jumbotron" id="middlehead">
        <h1><span>Welcome</span> Student </h1>
    </div>
    <p id="middlep">By clicking on Take Quiz you can see uploaded quizez. You can not attend the same quiz more than once. If you face any programming issue during quiz than contact us. <span>Avoid Refreshing your page while quiz is Continue and do not practice any unethical means to complete the quiz.</span> You will get your result automatically after the quiz. Best of Luck!</p>


</div>
